header{
  background-color:white;
  margin-top: 0;
  padding-top: 15px;
  background-size: cover;
}
.topbar{
  float:right;
  height:70px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.topbar img{
  position: relative;
  top:10px;
}
@font-face {
    font-family: myFont;
    src: url(fonts/GEMELLI_.TTF);
}
.button {
    background-color: white;
    border: none;
    color: black;
    font-family: myFont;
    padding: 15px 32px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0;
    cursor: pointer;
}
.button2{
    background-color: white;
    border: none;
    color: hsla(120,100%,25%,0.5);
    padding: 15px 40px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 0;
    cursor: pointer;
    border-radius: 5px;
}
.button.active{
  background-color:hsla(120,100%,25%,0.5);
  border-radius: 5px;
}
body{
  background: url('images/background2.jpg') no-repeat center fixed;
  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */ 
  -o-background-size: cover; /* for Opera 9.5 */
  margin: 0; /* to remove the default white margin of body */
  padding: 0; /* to remove the default white margin of body */
  z-index:-9999;
  color:white;
  position: relative;

}
.content{
  color:white;
  z-index: 9999;
  position: absolute;
  font-size:60px;
  left:30%;
  top:300%;
}
.content span{
  font-weight: bold;
  font-size: 90px;
  font-style: italic;
}

.content .buttons{
  position: relative;
  left:20px;
}